
body{
    background: #e9f4c3;
    font-weight: 500;
  }
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }
  .input-field{
    width: 300px;
    height: 40px;
    background: none;
    margin-right: 15px;
    outline: none;
    border-radius:20px;
    border: none;
    box-shadow: 3px 3px 3px #222327, -3px -3px 3px #363636;
    padding: 0 15px;
    font-size: 18px;
  }
  .btn,.delete-btn{
    border: none;
    background: none;
    outline: none;
    font-size: 14px;
    box-shadow: 3px 3px 3px #222327, -3px -3px 3px #363636;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
  }
  .delete-btn{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 100px;
  }
  .btn:hover ,.input-field:hover,.delete-btn:hover{
    box-shadow: inset 3px 3px 3px #3e5a2a, inset -3px -3px 3px #8eb174;
  }
  .d-f{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-size: 18px;
  }
  .d-f > div{
    cursor: pointer;
  }
  .todo-count{
    margin-top: 15px;
  }
  .update-btn{
    margin: 10px;
  }
  .all-btn{
    width: 200px;
    margin: 10px 0;
  }
  